# ─────────────────────────────────────────────────────────────────────────────
# .env — Configuration FactureChain API
# Copiez ce fichier en .env et adaptez les valeurs
# ─────────────────────────────────────────────────────────────────────────────

# Serveur API
PORT=3000
NODE_ENV=development

# Hyperledger Fabric
CHANNEL_NAME=mychannel
CHAINCODE_NAME=facture
MSP_ID=EneoMSP

# Wallet et profil de connexion
WALLET_PATH=./wallet
CONNECTION_PROFILE_PATH=./connection.json

# Mode local (true = réseau sur localhost, false = réseau distant)
AS_LOCALHOST=true
